body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.code {
  background: rgb(226, 225, 225); 
  border-radius: 5px; 
  padding: 10px;
}

#app .main-layout {
  display: flex; 
  flex-direction: column;
}

#app .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 16px 0;
}

#app .logo img {
  height: 32px;
  margin: 0 10px;
}

#app .label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

#app .ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

#app .ant-input.envid {
  font-family: Consolas, Menlo, Courier, monospace;
}

#app button {
  height: 32px;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
}